.group__list {

}

.group__item {
  height: 40px;
  line-height: 40px;
  padding-left: 12px;
  background-color: #F7F7F7;
  color: black;
  font-size: 1.1em;
  border-bottom:1px solid #D9D9D9;
}

.table {
  tbody {
    tr:nth-last-child(1) {
      border-bottom:1px solid #D9D9D9;
    }
  }
}