<div class="siteinfo__menu">
    <ul>
        <li class="siteinfo__menu-item"
            *ngFor="let menu of siteMenus; let idx=index"
            [ngClass]="{'active': isActive==idx}"
        >
            <span class="siteinfo__menu-icon"></span>

            <span class="siteinfo__menu-title"
                  [routerLink]="[menu.id]"
                  *ngIf="!menu.children"
                  (click)="isActive == idx ? isActive=-1: isActive=idx">{{menu.title}}</span>
            <span class="siteinfo__menu-title"
                  *ngIf="menu.children"
                  (click)="isActive == idx ? isActive=-1: isActive=idx">{{menu.title}}</span>

            <span class="siteinfo__menu-down glyphicon"
                  [ngClass]="{'glyphicon-menu-down': isActive==idx && menu.children, 'glyphicon-menu-right': isActive!=idx && menu.children}"
            ></span>
            <ul class="siteinfo__menu-sub" [ngClass]="{active: isActive==idx}" *ngIf="menu.children">
                <li *ngFor="let submenu of menu.children">
                    <span class="siteinfo__menu-icon empty"></span>
                    <span class="siteinfo__menu-title"
                          [routerLink]="[submenu.id]">{{submenu.title}}</span>
                </li>
            </ul>
        </li>
    </ul>
</div>