.area__container {

}

.area__title-section {
  height: $panel-bar-height;
  line-height: $panel-bar-height;
  padding-left: $default-padding;
  background-color: #EBEDED;
}

.area__title_name {

}

.area__detail {
  height: 250px;
  background-color: #FDFDFD;
  padding: 10px;
}

.area__detail_images {
  width: 250px;
  height: 100%;
  background-color: #EBEDED;
}

.area__detail-info {

}

.area__subarea-list {

}