.siteinfo__container {
  height: calc(100vh - #{$top-bar-height});
  display: flex;
  flex-direction: row;
}

.siteinfo__left {
  width: 300px;
}

.siteinfo__name-section {
  background-color: #F5F7F7;
  height: $title-bar-height;
  line-height: $title-bar-height;
  font-size: 1.6em;
  padding-left: $default-padding;
}

.siteinfo__menu {
  background-color: #E3E4E6;
  height: calc(100vh - #{$top-bar-height + $title-bar-height});
}

.siteinfo__menu-item {
  position: relative;
  height: 50px;
  line-height: 50px;
  padding-left: $default-padding;
  .glyphicon-menu-right {
    color: #3F3F3F;
    font-size: 0.5em;
  }
}

.siteinfo__menu-item.active {
  background-color: #3F3F3F;
  color: white;
  .glyphicon-menu-down {
    font-size: 0.5em;
  }
  .glyphicon-menu-right {
    color: white;
    font-size: 0.5em;
  }
}

.siteinfo__menu-icon {
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: white;
  border-radius: 50%;
  &.empty {
    opacity: 0;
  }
}

.siteinfo__menu-title {
  display:inline-block;
  width:70%;
  padding-left: $default-padding;
  font-size: 1.1em;
}

.siteinfo__menu-down {
  position: absolute;
  right: 10px;
  top: 17px;
}

.siteinfo__menu-sub {
  overflow: hidden;
  max-height: 0;
  transition: all 0.2s ease;
  margin-left: -20px;
  padding-left: 20px;
  &.active {
    display: block;
    max-height: 500px;
    background-color: #EBECED;
    color: black;
  }
}

.siteinfo__right {
  flex: 1;
}
