@import '../app/group/group.scss';

* {
  margin: 0;
  padding: 0;
}

.table {
  margin-bottom:0px;
}

ul {
  list-style: none;
}

.app__container {
  margin-left: 20px;
  margin-top: 20px;
  position:relative;
  width:400px;
  height:500px;
  border:1px solid #ddd;
  overflow-y: scroll;
}